h1{
    color: rgb(0, 0, 0);
    text-align : center;
    font-family : Bebas Neue ;
    font-size: xx-large;
  }
  
h2{
    color: #c2331a;
    flex-wrap: center;
    text-align: center;
  }

h3{
  color: #c2331a;
  
}

.ligneflex {
  display:flex;
  justify-content: space-between;
  align-items: stretch  ;
}

div {
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}
 
.grow {
  flex-grow: 1;
}